[submodule "model/nanoGPT"]
	path = mlsys/model/nanoGPT
	url = https://github.com/pkuwangh/nanoGPT.git
[submodule "mlsys/services/redis/redis"]
	path = mlsys/services/redis/redis
	url = https://github.com/redis/redis.git
[submodule "mlsys/services/telemetry/fluent-bit"]
	path = mlsys/services/telemetry/fluent-bit
	url = https://github.com/fluent/fluent-bit
[submodule "mlsys/inference/vllm/vllm"]
	path = mlsys/inference/vllm/vllm
	url = https://github.com/pkuwangh/vllm.git
[submodule "mlsys/inference/tensorrt-llm/TensorRT-LLM"]
	path = mlsys/inference/tensorrt-llm/TensorRT-LLM
	url = https://github.com/pkuwangh/TensorRT-LLM.git
[submodule "mlsys/inference/nano-vllm/nano-vllm"]
	path = mlsys/inference/nano-vllm/nano-vllm
	url = https://github.com/pkuwangh/nano-vllm.git
[submodule "mlsys/inference/sglang/sglang"]
	path = mlsys/inference/sglang/sglang
	url = https://github.com/pkuwangh/sglang.git
[submodule "mlsys/inference/vllm/vllm-omni"]
	path = mlsys/inference/vllm/vllm-omni
	url = https://github.com/vllm-project/vllm-omni.git
